@import 'http://localhost:9000/static/css/init-h5.scss';
@function getEleN($n) {
    @return $n / (750/16) + rem;
}
.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity:0.1;
}
/*companyPosition style1**************************************************************************/
[yh-module="List_style1"] .company-position-style1 {
    // width:getEleN(750);
    // padding: getEleN(30) 0 getEleN(5) 0;
	// margin: 0 auto;
}
.company-position-style1 {
    width:getEleN(702);
    margin:0 auto  getEleN(30);
    border-radius:getEleN(10);
    overflow:hidden;
}
.company-position-style1 .title{
    padding:getEleN(35) 0 getEleN(20) 0;
    background:#ef2b6b;
    position:relative;
    overflow:hidden;
}
.company-position-style1 .title .titleBG{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:center center no-repeat;
    background-size:100%;
}
.company-position-style1 .title a{
    display:block;
    text-decoration:none;
    position:relative;
    z-index:10;
}
.company-position-style1 .title .logo img {
    position: relative;
    width:getEleN(180);
    height:getEleN(180);
    display:block;
    margin:0 auto;
    overflow: hidden;
    border-radius: 30px;
    border: solid getEleN(4) rgba(0,0,0,.1);
    //border:1px solid #ccc;
}
.company-position-style1 .title .logo:before{
    content:'';
    position: absolute;
    top: getEleN(4);
    left: 50%;
    margin:0 0 0 getEleN(-90);
    width:getEleN(180);
    height:getEleN(180);
    border-radius: 30px;
    background-color: #fff;
}
.company-position-style1 .title .name {
    width:getEleN(560);
    margin:0 auto;
    line-height:getEleN(72);
    font-size:getEleN(30);
    color:#fff;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.company-position-style1 .title a:hover {
    text-decoration:none;
}
.company-position-style1 .positionList {
    width: getEleN(677);
    margin: 0 auto;
    padding:getEleN(30) 0 0 getEleN(25);
    overflow:hidden;
    background:#f5f5f5;
}
.company-position-style1 .positionListOne{
    // width:getEleN(360);
}
.company-position-style1 .positionList li {
    width: getEleN(317);
    height: getEleN(73);
    margin:0 getEleN(18) getEleN(20) 0;
    background: #f8f9fc;
    overflow: hidden;
    position: relative;
    float:left;
}
.company-position-style1 .positionList li p{
    width:getEleN(160);
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align:left;
    float:left;
}
.company-position-style1 .positionList li p.salary {
    width:getEleN(95);
    font-size:getEleN(24);
    float:right;
    font-family: Helvetica;
}
.company-position-style1 .positionList li a {
    width: getEleN(255);
    height: getEleN(47);
    padding: getEleN(26) getEleN(44) 0 getEleN(18);
    display:block;
    font-size:getEleN(24);
    color:#ec0752;
    text-decoration: none;
    text-align:left;
    background: #fff url(https://activity.lagou.com/topic/static/img/newEdit/gIcon.png) no-repeat getEleN(280) getEleN(-145);
    background-size:getEleN(256) getEleN(512);
}
.company-position-style1 .positionList li.moreLi {
    width:getEleN(246);
    background:none;
    float:right;
}
.company-position-style1 .positionList li a.more{
    height:getEleN(55);
    line-height:getEleN(50);
    font-size:getEleN(28);
    color:#777777;
    background:url(https://activity.lagou.com/topic/static/img/newEdit/gIcon.png) no-repeat getEleN(-272) getEleN(-894);//getEleN(-925);
    background-size:getEleN(512) getEleN(1024);
}
