/*reset style**/
* {
    margin:0;
    padding:0;
}
img {
    display:block;
}
ul,li,ol,dl,dd,dt {
    list-style:none;
}
.clearfix:after {
    content: ""; /* 020 */
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}
body {
    width:100%;
    overflow-x:hidden;
}

[yh-editor-content]{
    width:100%;
    overflow-x:hidden;
}