@function rem($n){
    @return $n / (750 / 16) + rem;
}
/*slider-style1**************************************************************************/
.slider-style1 {
    width:100%;
    overflow:hidden;
    position: relative;
    .yh-slider-container {
        width:rem(750);
        position: absolute;
        left: 50%;
        top:0;
        margin:0 0 0 rem(-375);
    }
    .yh-slider-content {
        width:90000px;
        position: absolute;
        left: 0;
        top:0;
    }
    .yh-slider-content > .block-style1 {
        // width: 100%;
        // height: 100%;
        float:left;
        > .yh-block-content {
            margin:0;
        }
    }
    .arrow-left,
    .arrow-right {
        width: 80px;
        height: 80px;
        background: url(http://topic.lagou.com/static/img/newEdit/carouselButton.png) no-repeat -80px 0;
        position: absolute;
        top: 0;
        z-index: 10;
        cursor: pointer;
        display:block;
    }
    .arrow-left {
        left: 40px;
    }
    .arrow-left:hover {
        background-position:-80px -80px;
    }
    .arrow-right {
        background-position: 0 0;
        right: 40px;
    }
    .arrow-right:hover {
        background-position:0 -80px;
    }
}
/*slider-style1**************************************************************************/
