/*list style1**************************************************************************/
.list-style1{
    margin:0 auto;
    background:transparent no-repeat center top;
}
.yh-list-content {
    margin:0 auto;
}
/*list style1**************************************************************************/
