.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

* {
    margin:0;
    padding:0;
}
ul,ol,li {
    list-style:none;
}
img {
    display:block;
}
html,body {
    font-size: 14px;
}

.hide {
    display:none;
}
.main {
    width:100%;
    overflow:hidden;
}







.image-style1{width:100%;height:100px;margin:0 auto;position:relative;overflow:hidden}.image-style1 .yh-image-content{position:absolute;left:50%;top:50%;margin:-50% 0 0 -50%}







.list-style1{margin:0 auto;background:transparent no-repeat center top}.yh-list-content{margin:0 auto}







[yh-module=List_style1] .company-position-style2{margin:0 10px 20px 10px;float:left}.company-position-style2{width:295px;height:325px;position:relative;margin:0 auto 20px;overflow:hidden;border-radius:7px}.company-position-style2 .title{height:142px;padding:25px 15px 0 21px;background:#0dcba0}.company-position-style2 .title .right{width:auto;float:left}.company-position-style2 .title>a{width:105px;height:103px;padding:2px 0 0 0;background:#000;background-color:rgba(0,0,0,.1);filter:Alpha(opacity=50);position:static;border-radius:6px;overflow:hidden;float:left}.company-position-style2 .title a.name{width:137px;text-align:left;text-decoration:none;font-size:20px;padding:0 0 0 11px;word-break:break-all;height:25px;line-height:25px;overflow:hidden;display:block}.company-position-style2 .title p.tag{width:143px;height:56px;padding:10px 0 0 11px;overflow:hidden}.company-position-style2 .title p.tag span{height:20px;line-height:20px;padding:0 5px;overflow:hidden;text-align:left;text-decoration:none;font-size:12px;color:#fff;border:1px solid #fff;opacity:.5;border-radius:100px;float:left;margin:0 4px 6px 0}.company-position-style2 .logoUrl img{width:101px;height:101px;margin:0 auto;border-radius:4px;background:#fff}.company-position-style2 .slogan{width:224px;height:68px;line-height:24px;padding:32px 30px 57px 39px;margin:0 auto;font-size:16px;color:#333;text-align:left;overflow:hidden;word-break:break-all;background:#f9fafa no-repeat 18px 23px;border:1px solid #f7f7f7;border-top:none;border-radius:0 0 7px 7px}.company-position-style2 .slideLayer{position:absolute;left:0;top:100%}.company-position-style2 .positionList{width:197px;height:265px;padding:48px 48px 0 50px;background:#0dcba0}.company-position-style2 .positionList li .positionUrl{height:32px;line-height:32px;display:block}.company-position-style2 .positionList li .positionUrl p,.company-position-style2 .positionList li .positionUrl span{font-size:16px;float:left;font-family:Arial}.company-position-style2 .positionList li .positionUrl p.positionName,.company-position-style2 .positionList li .positionUrl span.positionName{width:120px;height:32px;line-height:32px;padding-right:10px;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left}.company-position-style2 .positionList li .positionUrl p.salary,.company-position-style2 .positionList li .positionUrl span.salary{width:60px;height:32px;line-height:32px;color:#fff}.company-position-style2 .more{width:195px;height:47px;line-height:47px;border-radius:3px;display:block;background:#fff;color:#0dcba0;text-align:center;font-size:18px;text-decoration:none;position:absolute;left:51px;bottom:51px}







.slider-style1{width:100%;overflow:hidden;position:relative}.slider-style1 .yh-slider-container{width:1920px;position:absolute;left:50%;top:0;margin:0 0 0 -960px}.slider-style1 .yh-slider-content{width:90000px;position:absolute;left:0;top:0}.slider-style1 .yh-slider-content>.block-style1{float:left}.slider-style1 .yh-slider-content>.block-style1>.yh-block-content{margin:0}.slider-style1 .arrow-left,.slider-style1 .arrow-right{width:80px;height:80px;background:url(http://topic.lagou.com/static/img/newEdit/carouselButton.png) no-repeat -80px 0;position:absolute;top:0;z-index:10;cursor:pointer;display:block}.slider-style1 .arrow-left{left:40px}.slider-style1 .arrow-left:hover{background-position:-80px -80px}.slider-style1 .arrow-right{background-position:0 0;right:40px}.slider-style1 .arrow-right:hover{background-position:0 -80px}







.block-style1{background-position:center top;position:relative;overflow:hidden}.block-style1 .yh-block-content{margin:0 auto}.block-style1 .yh-block-content.yh-block-absolute{position:absolute;left:50%;top:0}.block-style1.yh-block-fixed{position:fixed;left:50%;top:0;z-index:100}.block-style1.yh-block-fixed-bottom{position:fixed;left:50%;bottom:0;z-index:100}.block-style1.yh-block-fixed-left{position:fixed;left:0;top:0;z-index:100}.block-style1.yh-block-fixed-right{position:fixed;right:0;top:0;z-index:100}.block-style1.yh-block-fixed-bright{position:fixed;right:0;bottom:0;z-index:100}.block-style1.yh-block-absolute{position:absolute;left:50%;top:0}







.company-position-style1{width:926px;height:280px;margin:0 auto;padding:0 0 20px 0;border-radius:5px;overflow:hidden}.company-position-style1>.leftDiv{width:222px;height:280px;background:#00c99b;float:left}.company-position-style1>.leftDiv .title{padding:38px 0 20px 0}.company-position-style1>.leftDiv img{width:115px;height:115px;border-radius:3px;margin:0 auto 10px;display:block}.company-position-style1>.leftDiv a.nameTop{display:block;font-size:20px;color:#fff;text-align:center;text-decoration:none}.company-position-style1>.leftDiv a.nameTop p.name{width:100%;height:26px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.company-position-style1>.leftDiv div.infoWord{width:116px;margin:0 auto;background:#fff;border-radius:2px;overflow:hidden}.company-position-style1>.leftDiv a.more{width:116px;height:41px;display:block;background:#000;background-color:rgba(0,0,0,.08);filter:Alpha(opacity=8);position:static;*zoom:1;text-decoration:none}.company-position-style1>.leftDiv a.more span{height:38px;line-height:38px;font-size:16px;color:#00c99b;text-align:center;display:block;background:#fff}.company-position-style1>.leftDiv a.more:hover{text-decoration:none}.company-position-style1>.rightDiv{width:703px;height:278px;background:#f0f0f0;float:left;border:solid 1px #e9e9e9;border-left:none;border-radius:0 5px 5px 0;overflow:hidden}.company-position-style1>.rightDiv .slogan{height:50px;line-height:24px;padding:40px 65px 30px;background:#fff no-repeat center center;font-size:16px;color:#555;text-align:left;word-break:break-all}.company-position-style1>.rightDiv .positionList{padding:6px 32px 17px}.company-position-style1>.rightDiv .positionList li{float:left}.company-position-style1>.rightDiv .positionList li .positionUrl{width:252px;height:48px;line-height:48px;padding:0 27px 0 17px;margin:18px 12px 0 11px;display:block;color:#00c99b;font-size:16px;background:#fff no-repeat 270px -158px}.company-position-style1>.rightDiv .positionList li .positionUrl p,.company-position-style1>.rightDiv .positionList li .positionUrl span{text-align:left;float:left}.company-position-style1>.rightDiv .positionList li .positionUrl p.positionName,.company-position-style1>.rightDiv .positionList li .positionUrl span.positionName{width:160px;padding-right:15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}







.yh-custom-base-element00{margin:0 auto;width:300px;height:365px;border-color:#fff;border-width:0;border-style:none;border-radius:6px;box-shadow:#fff 0 0 0;position:relative;background:-webkit-gradient(linear,0 0,0 100%,from(#0f0),to(#ff0))}.yh-custom-base-element0{left:25px;top:25px;position:absolute}.yh-custom-base-element1{width:100px;height:100px;background-color:#fff;border-color:#fff;border-width:0;border-style:none;border-radius:6px;box-shadow:#fff 0 0 0}.yh-custom-base-element2{width:100%;height:100%;position:absolute;left:0;top:0;display:block}.yh-custom-base-element3{left:145px;top:25px;position:absolute}.yh-custom-base-element4{width:150px;height:40px;line-height:40px;font-size:18px;color:#fff;text-align:left;font-style:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element5{width:100%;height:100%;position:absolute;left:0;top:0;display:block}.yh-custom-base-element6{left:145px;top:65px;position:absolute}.yh-custom-base-element7{width:150px;height:66px;line-height:22px;font-size:14px;color:#efefef;text-align:left;font-style:normal;overflow:hidden}.yh-custom-base-element8{left:25px;top:150px;position:absolute}.yh-custom-base-element9{display:block}.yh-custom-base-element10{width:250px;height:40px;border-radius:6px;border-color:#fff;border-width:0;border-style:none;box-shadow:#fff 0 0 0;overflow:hidden;background:-webkit-gradient(linear,0 0,0 100%,from(#ff0),to(#0ff))}.yh-custom-base-element11{width:120px;height:40px;line-height:40px;padding-left:20px;font-size:14px;color:#f0f;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element12{width:80px;height:40px;line-height:40px;padding-left:10px;padding-right:20px;font-size:14px;color:red;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element13{display:block}.yh-custom-base-element14{width:250px;height:40px;border-radius:6px;border-color:#fff;border-width:0;border-style:none;box-shadow:#fff 0 0 0;overflow:hidden;background:-webkit-gradient(linear,0 0,0 100%,from(#ff0),to(#0ff))}.yh-custom-base-element15{width:120px;height:40px;line-height:40px;padding-left:20px;font-size:14px;color:#f0f;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element16{width:80px;height:40px;line-height:40px;padding-left:10px;padding-right:20px;font-size:14px;color:red;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element17{display:block}.yh-custom-base-element18{width:250px;height:40px;border-radius:6px;border-color:#fff;border-width:0;border-style:none;box-shadow:#fff 0 0 0;overflow:hidden;background:-webkit-gradient(linear,0 0,0 100%,from(#ff0),to(#0ff))}.yh-custom-base-element19{width:120px;height:40px;line-height:40px;padding-left:20px;font-size:14px;color:#f0f;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element20{width:80px;height:40px;line-height:40px;padding-left:10px;padding-right:20px;font-size:14px;color:red;text-align:left;font-style:normal;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.yh-custom-base-element21{left:25px;top:300px;position:absolute}.yh-custom-base-element22{width:250px;height:40px;line-height:40px;border-color:#fff;border-width:0;border-style:none;border-radius:8px;box-shadow:#fff 0 0 0;font-size:16px;color:#f0f;text-align:center;background:-webkit-gradient(linear,0 0,0 100%,from(#ff0),to(#0ff))}.yh-custom-base-element23{width:100%;height:100%;position:absolute;left:0;top:0;display:block}







