/*block style1**************************************************************************/
.block-style1 {
    background-position:center top;
    background-size: 100%;
}
.block-style1 .yh-block-content {
    margin:0 auto;
}
/*block style1**************************************************************************/
