/*row style2**************************************************************************/
.row-style2 {
    background-position:center top;
}
.row-style2 .row-style1{
    overflow: hidden;
}
.row-style2 .yh-row-content {
    margin:0 auto;
    > div {
        float:left;
    }
}
/*row style2**************************************************************************/
